name: Ruby

on: [push]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6
    - uses: ruby/setup-ruby@v1
      with:
       # ruby-version: '2.7' # Not needed with a .ruby-version file
        bundler-cache: true # runs 'bundle install' and caches installed gems automatically

    - name: Build and test with Rake
      run: |
        sudo apt install -y postgresql-contrib libpq-dev libsqlite3-dev
        gem install bundler
        bundle install --jobs 4 --retry 3
        bundle exec rake -T
